@if(Entry is not null)
{
    <div class="card border-0">
        <div class="card-body">
            <h1 class="card-title"><a href="/entry/@Entry.Id"><strong class="entry-subject">@Entry.Subject</strong></a></h1>
            <br />
            <p class="entry-content">@Entry.Content</p>

            <div class="row">
                <div class="col-sm-3">
                    @if(@Entry.MyEntry)
                    {
                        <EntryFooterFavoriteComponent Id="@Entry.Id"
                                              OnFavoriteClicked="@FavoriteClicked"
                                              FavoritedCount="@Entry.FavoritedCount"
                                              IsFavorited="@Entry.Favorited" />
                    }
                    else
                    {
                        <EntryFooterVoteFavoriteComponent Id="@Entry.Id"
                                                  OnFavoriteClicked="@FavoriteClicked"
                                                  FavoritedCount="@Entry.FavoritedCount"
                                                  IsFavorited="@Entry.Favorited"
                                                  OnVoteClicked="@VoteClicked"
                                                  VoteType="@Entry.VoteType" />
                    }
                </div>
                <div class="col-sm-2">
                    @if(@Entry.MyEntry)
                    {
                        <EntryButtonsComponent EntryId="@Entry.Id" EntrySubject="@Entry.Subject" EntryContent="@Entry.Content" OnUpdateClicked="@UpdateClicked" OnAddTagClicked="@AddTagClicked" OnDeleteClicked="@DeleteClicked" />
                    }
                </div>
                <div class="col-sm-5" style="color:#bdbdbd">
                    @if(Entry.Tags is not null && Entry.Tags.Count > 0)
                    {
                        <span>Tags : &emsp;</span>

                        @foreach(var tag in Entry.Tags)
                        {
                            <label>&bull; @tag.Name &emsp;</label>
                        }
                    }
                </div>
                <div class="col-sm-2">
                    <EntryFooterAuthorComponent UserName="@Entry.UserName"
                                            CreateDate="@Entry.CreatedDate" />
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public GetEntryDetailViewModel Entry { get; set; }

    [Inject]
    IVoteService voteService { get; set; }

    [Inject]
    IFavoriteService favoriteService { get; set; }

    [Inject]
    IEntryService entryService { get; set; }

    private async Task UpdateClicked(EntryClickedEventArgs args)
    {
        var updateEntry = new UpdateEntryCommand();
        updateEntry.Id = args.EntryId;
        updateEntry.Subject = args.EntrySubject;
        updateEntry.Content = args.EntryContent;

        await entryService.UpdateEntry(updateEntry);

        Entry.Subject = args.EntrySubject;
        Entry.Content = args.EntryContent;

        StateHasChanged();
    }

    private async Task AddTagClicked(EntryTagClickedEventArgs args)
    {
        var createEntryTag = new CreateEntryTagCommand();
        createEntryTag.EntryId = args.EntryId;
        createEntryTag.TagId = args.TagId;

        await entryService.CreateEntryTag(createEntryTag);

        Entry = await entryService.GetEntryDetail(createEntryTag.EntryId);

        StateHasChanged();
    }

    private async Task DeleteClicked(EntryClickedEventArgs args)
    {
        var deleteEntry = new DeleteEntryCommand();
        deleteEntry.Id = args.EntryId;

        await entryService.DeleteEntry(deleteEntry);

        Entry = null;

        StateHasChanged();
    }

    private async Task FavoriteClicked(FavoriteClickedEventArgs args)
    {
        if(Entry.MyEntry) return;

        if(args.IsFaved)
        {
            await favoriteService.CreateEntryFavorite(args.Id);
            Entry.Favorited = true;
            Entry.FavoritedCount++;
        }
        else
        {
            await favoriteService.DeleteEntryFavorite(args.Id);
            Entry.Favorited = false;
            Entry.FavoritedCount--;
        }

        StateHasChanged();
    }

    private async Task VoteClicked(VoteClickedEventArgs args)
    {
        if(args.IsUpVoteDeleted || args.IsDownVoteDeleted)
        {
            await voteService.DeleteEntryVote(args.Id);
            Entry.VoteType = VoteType.None;

            return;
        }

        if(args.IsUpVoteClicked)
        {
            await voteService.CreateEntryUpVote(args.Id);
            Entry.VoteType = VoteType.UpVote;

            return;
        }

        if(args.IsDownVoteClicked)
        {
            await voteService.CreateEntryDownVote(args.Id);
            Entry.VoteType = VoteType.DownVote;

            return;
        }
    }
}
